.App {
  text-align: center;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

.App_grid {
  background-attachment: fixed;
}

.App-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.App-bckgrd {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: var(--page-width);
}

.media {
  display: flex;
  background-color: rgba(var(--color-foreground));
  justify-content: center;
  background-image: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App__banner__box {
  padding: 4rem-3.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: auto;
  top: -55%;
}

@media screen and (max-width: 960px) {
  .App-section {
    margin-top: 0;
  }
}
